body {
    background-color: #FF66C8;
    font-family: Bricolage Grotesque, sans-serif;
    color: #fff;
    font-size: 16px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    /* max-width: 1400px; */
    margin: 0 auto;
    min-height: 96px;
    padding: 0 2rem;
    /* position: relative; */
    /* overflow: visible; */
}

.logo {
    width: 130px;
}

.nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.nav__list {
    display: flex;
    align-items: center;
    background-color: #0000002e;
    backdrop-filter: blur(6px);
    border-radius: 0.4rem;
    height: 3.46rem;
    padding: .2rem .6rem .2rem .2rem;
}

.nav__link,
.nav__link--button {
    color: #fff;
    font-size: 1rem; 
    padding: 12.8px 24px 12px;
    border-radius: 0.4rem;
    cursor: pointer;
}

.nav__link--button {
    color: #0d0d0d;
    font-size: 1rem;
    cursor: pointer;
    background-color: #fff;
    border-style: solid;
    border-color: #fff;
    padding: 12.8px 24px 12px;
    transition: box-shadow .2s;
    display: none;
    align-items: center;
}

.nav__link--button:hover {
    box-shadow: 0 0 60px #ffffff4d, 0 0 20px #ffffff80, 0 0 5px #ffffff80;
}

.nav__link--circle {
    border-radius: 50%;
    width: .6rem;
    height: .6rem;
    background-color: #61d180;
    margin-right: .5rem;
}

.nav__button {
    background-color: #0000002e;
    backdrop-filter: blur(6px);
    height: 3.46rem;
    border-radius: 0.4rem;
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 1rem;
    color: #fff;
    font-size: 16px; 
    padding: 12.8px 24px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav__link:hover,
.nav__button:hover {
    background-color: #000;
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 64px;
    height: 100vh;
    margin: 0 auto;
    width: 100%;
}

.hero__title {
    font-family: Spicy Rice, sans-serif;
    font-size: 7.2rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 10px;
    text-align: center;
    line-height: 1.1;
}

.hero__interaction {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: -80px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.hero__card {
    width: 45vh;
    height: 55vh;
    position: absolute;
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

.hero__img--1,
.hero__img--2,
.hero__img--3 {
    width: 100%;
    height: 100%;
}

.hero__card--first {
    z-index: 3;
    animation: cardEnter 1s ease-out 1.75s forwards;
}

.hero__card--second {
    z-index: 2;
    animation: cardEnter 1s ease-out 1.25s forwards;
}

.hero__card--third {
    z-index: 1;
    animation: cardEnter 1s ease-out 0.75s forwards;
}

@keyframes cardEnter {
    0% {
      transform: translate3d(0, 50%, 0) scale(0.5) rotate(0deg);
      opacity: 0;
    }
    100% {
      transform: translate(var(--translateX),var(--translateY)) scale(1) rotate(var(--rotation, 0deg));
      opacity: 1;
    }
  }

  .hero__card--first {
    --rotation: 6deg;
    --translateX: 0px;
    --translateY: 0px;
    transform: rotate(--rotation) translate(--translateX, --translateY);
  }
  
  .hero__card--second {
    --rotation: -0.5deg;
    --translateX: -30px;
    --translateY: 0px;
    transform: rotate(--rotation) translate(--translateX, --translateY);
  }
  
  .hero__card--third {
    --rotation: -6deg;
    --translateX: -62px;
    --translateY: 0px;
    transform: rotate(--rotation) translate(--translateX, --translateY);
  }

.hero-content__min {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.hero-content__left {
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 0.875rem;
    max-width: 300px;
}

.hero-content__link {
    font-family: Bricolage Grotesque, sans-serif;
    color: #fff;
    font-size: 20px;
}

.hero-content__big-text {
    display: flex;
    align-items: center;
    width: 250%;
    overflow: hidden;
    white-space: nowrap;
    animation: scroll 58s linear 0.7;
    position: relative;
    z-index: -2;
    height: 12rem;
}

.hero__marquee {
    display: flex;
    align-items: center;
    gap: 4rem;
    overflow: hidden;
    width: 100%;
    /* height: 12rem; */
}

.hero__text-display {
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 11rem;
    font-weight: 300;
    color: #fff3;
    text-transform: uppercase;
    white-space: nowrap;
}

.hero__ellipse {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff3;
}
  
  @keyframes scroll {
    from {
      transform: translateX(-20%);
    }
    to {
      transform: translateX(-110%);
    }
  }
  

.problem {
    margin: 60px 0 100px;
    padding: 0 40px;
}

.problem__container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.heading-block {
    margin-bottom: 32px;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    
}

.heading-block--problem {
    justify-content: center;
    align-items: center;
}

.icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 2px 26px;
    background-color: #fff;
    border-radius: 100px;
    margin: 0 0 16px;
}

.icon-block__text {
    font-family: Spicy Rice, sans-serif;
    font-size: 20px;
    color: #000;
}

.heading {
    font-family: Spicy Rice, sans-serif;
    font-size: 90px;
    font-weight: 400;
    line-height: 100px;
    max-width: 75%;
    margin: 10px 0;
}

.heading--problem {
    text-align: center;
    /* max-width: 75%; */
}

.heading__highlight {
    color: #000;
}

.heading__description {
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 20px;
}

.problem__cards-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.card-item {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

/* .complications-item {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 8px;
    display: flex;
    flex-direction: column;
} */

.card-text {
    color: #000;
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 20px;
}

.problem__card-text {
    /* color: #000;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 20px;
    margin: 20px 0 12px;
    padding: 0 22px;
    text-align: center; */
    margin: 20px 0 12px;
    padding: 0 22px;
    text-align: center;

}

.solution__container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.heading-block--solution {
    justify-content: flex-start;
    align-items: flex-start;
    position: sticky;
    top: 24%;
}

.heading--solution {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0;
}

.solution__card-item {
    align-items: stretch;
    padding: 10px 10px 32px;
    margin-bottom: 200px;
    max-width: 680px;
    position: sticky;
}

.solution__card-item--type1 {
    top: 18%;
}

.solution__card-item--type2 {
    top: 20%;
}

.solution__card-item--type3 {
    top: 21%;
    margin-bottom: 60px;
}

.card-block__heading {
    color: #000;
    font-size: 28px;
    font-weight: 700;
}

.solution__card-text {
    margin: 12px 0 0;
}

.call-us {
    background-color: #000;
    height: 140vh;
}

.call-us__container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.block-header {
    color: #fff;
    text-align: center;
    max-width: 70%;
    font-family: Spicy Rice, sans-serif;
    font-size: 90px;
    font-weight: 400;
    line-height: 100px;
}

.call-us__heading {
    margin: 10px 0;
}

.highlight--orange {
    color: #ff8549;
}

.block-text {
    color: #fff;
    text-align: center;
    max-width: 39%;
    margin-bottom: 24px;
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 20px;
}

.block-button {
    z-index: 1;
    text-align: center;
    background-color: #fff0;
    border: 2px solid #fff;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 4rem;
    margin-top: 26px;
    position: relative;
    overflow: hidden;
}

.block-link {
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.how-it-works {
    background-color: #ff8549;
    padding-bottom: 100px;
}

.how-it-works__container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    /* display: flex;
    align-items: flex-start;
    justify-content: space-between; */
}

.how-it-works-head-text {
    padding: 0 0 40px;
}

.how-it-works__cards-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.how-it-works__card-item {
    padding: 36px;
}

.how-it-works__item-pic {
    width: 216px;
}

.how-it-works__item-heading {
    color: #000;
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin: 20px 0 10px;
}

.how-it-works__item-text {
    font-size: 1rem;
    padding: 0;
}

.how-it-works-block {
    padding: 0;
    margin: 0;
}

.services {
    background-color: #000;
    padding: 40px 0 0;
}

.services__container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.heading--services{
    color: #fff;
    text-align: left;
    max-width: 88%;
    margin-top: 0;
    font-family: Spicy Rice, sans-serif;
    font-size: 90px;
    font-weight: 800;
    line-height: 85px;
    white-space: nowrap;
}

.services__heading {
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    line-height: 26px;
    margin: 20px 0 10px;
}

.heading--pink {
    color: #ff66c8;
}

.services__cards-list {
    display: flex;
    flex-flow: column;
    gap: 40px;
    width: 50%;
    margin-left: 30px;
    padding-top: 60px;
    position: static;
}

.services__card-item {
    background-color: #ffffff14;
    padding: 24px;
    /* max-width: 650px; */
}

.services__check-pic {
    width: 40px;
}

.services__item-text {
    color: #cecece;
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.services__item-img {
    border-radius: 8px;
    height: auto;
    margin-top: 20px;
}

.only-plusses {
    background-color: #f0ece0;
    padding: 100px 0;
}

.only-plusses-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.only-plusses-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    padding: 32px 0;
}

.only-plusses-head {
    color: #000;
}

.only-plusses-head-text {
    color: #000;
}

.only-plusses-list {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.only-plusses-item {
    padding: 0 20px;
    /* max-width: 320px; */
}


.card-block--solution {
    padding: 0 0 0 20px;
}

.only-plusses-heading {
    color: #000;
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 30px;
    margin: 0 0 12px;
}


.only-plusses-text {
    color: #585858;
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 16px;
}

.pricing {
    background-color: #f0ece0;
}

.pricing-container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.pricing-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    padding: 32px 0;
}
.price-cards-block {
    background-color: #fff;
    padding: 32px;
    border-radius: 24px;
}

.pricing-head {
    text-align: center;
    color: #000;
    font-size: 84px;
}

.price-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin-bottom: 32px;
}

.price-card {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    border-radius: 16px;
    padding: 32px;
}

.mid-level {
    border: 1px solid #ff66c8;
    position: relative;
}

.mid-level-pic {
    position: absolute;
    top: 0;
    right: 0;
}

.price-card-header {
    color: #000;
    margin-bottom: 12px;
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.price-card-request,
.price-period  {
    color: #000;
    margin-bottom: 10px;
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 18px;
}

.price-tag {
    color: #000;
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin: 20px 0 10px;
}

.price-button {
    color: #fff;
    background-color: #ff66c8;
    border: 2px solid #fff;
    border-radius: 200px;
    width: 12rem;
    height: 3.6rem;
    margin: 24px 0;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.included-header {
    color: #000;
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 18px;
    line-height: 40px;
    margin: 0 0 10px;
}

.included-text {
    color: #000;
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 16px;
    margin: 0 0 10px;
}

.not-sure-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: #ff66c8;
    border-radius: 16px;
    padding: 32px;
    position: relative;
}

.left-block-header {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 16px;
    font-family: Spicy Rice, sans-serif;
    font-size: 52px;
    line-height: 66px;
}

.price-right-block {
    margin-top: 60px;
}

.comparison {
    background-color: #f0ece0;
    padding: 100px 0;
}

.comparison-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.comparison-table {
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.comparison-head {
    color: #000;
    text-align: center;
    max-width: 80%;
    margin-top: 20px;
    margin-bottom: 16px;
    font-family: Spicy Rice, sans-serif;
    font-size: 90px;
    font-weight: 400;
    line-height: 87px;
}

.comparison-list-main-block {
    padding: 32px 32px 32px 0;
    max-width: 260px;
}

.comparison-list-block {
    padding: 32px;
    max-width: 260px;
}

.comparison-header {
    color: #000;
    width: 222px;
    height: 55px;
    margin-bottom: 20px;
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
}

.companies-header {
    text-align: center;
}

.main-block-comparison-list {
    gap: 50px;
    flex-flow: column;
    display: flex;
}

.companies-list {
    gap: 48px;
    flex-flow: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-block-comparison-item {
    color: #000;
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.comparison-item {
    color: #000;
    font-size: 18px;
}

.myads-block{
    background-color: #000;
    border-radius: 16px;
}
.myads-list {
    justify-content: center;
    align-items: center;
}

.myads-item {
    color: #fff;
}

.footer {
    padding: 60px 0 120px;
}

.footer-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

.social-media {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    display: flex;
}   

.site-link {
    color: #fff;
    margin-top: 0;
    font-family: Bricolage Grotesque, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.footer_img-you {
    position: absolute;
    top: -3%;
    left: 79%;
}

.footer_img-wip {
    position: absolute;
    bottom: 83%;
    left: 8%;
}

.footer_img-brain {
    position: absolute;
    bottom: -1%;
    right: 12%;
}

.footer_img-framed {
    position: absolute;
    top: 68%;
    right: 75%;
}

.block-header--footer {
    margin: 0 0 16px;
}

.block-text--second {
    margin-top: 26px; 
}